<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"	>
<head>
<title>Hello Word</title>
</head>
<body>
	<h1 th:inline="text">Hello</h1>
	<form action="/batch/upload" method="post" enctype="multipart/form-data">
	<!--此处的name="filename"必须全部相同.  -->
		<p>选择文件1:<input type="file" name="filename"/></p>
		<p>选择文件2:<input type="file" name="filename"/></p>
		<p>选择文件3:<input type="file" name="filename"/></p>
		<p><input type="submit" value="上传"/></p>
	</form>


</body>
</html>